<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Student Management System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Sample.styles.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <style>
        body{
            background-image: url('/images/background-5.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            white-space: nowrap;
            line-height: 60px;
        }
        .login-box {
            width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f5f5f5;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
        
        .login-form .form-group {
            margin-bottom: 20px;
        }
        
        .login-form label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }
        
        .login-form .form-control {
            width: 100%;
            padding: 8px;
            font-size: 16px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
        
        .login-form button {
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            background-color: #007bff;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
        }
        
        .login-form button:hover {
            background-color: #0069d9;
        }
        .nav-item:hover{
            text-decoration: dashed;
            text-decoration-color: black;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-transparent border-bottom border-dark box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Staff" asp-action="PrincipalDashboard">
                    <img src="/images/teacher-6.png" alt="Logo" class="img-fluid rounded-circle" style="max-height: 40px; max-width: 100px; margin-right: 10px;" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                         <!-- <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Staff" asp-action="ViewStudents">View Students</a>
                        </li> -->
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Staff" asp-action="AddStudent">Add Person</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Staff" asp-action="AddSubjects">Add Subjects</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Staff" asp-action="ViewSubjects">View Subjects</a>
                        </li>
                         
                         <li class="nav-item">
                            <a class="nav-link text-danger" asp-area="" asp-controller="Home" asp-action="Login">Logout</a>
                        </li>
                        <!-- <li class="nav-item justify-content-end">
                            <a class="nav-link text-danger" asp-area="" asp-controller="Home" asp-action="Index">Logout</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </nav>

    </div>
    <div class="container">
        @RenderBody()
    </div>


<footer class="border-top footer text-muted ">
    <div class="container-fluid text-dark d-flex justify-content-between align-items-center">
        <div>
            &copy; 2023 - Muthu Kamatchi - <a asp-area="" asp-controller="Home" asp-action="Index">Index</a>
        </div>
        <div class="text-end">
            <img src="/images/.gif" alt="Logo" class="img-fluid rounded-circle" style="max-height: 50px; max-width: 200px; margin-right: 10px;" />
        </div>
    </div>
</footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
